.pizza-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
